html {
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
}

html, body, #map {
  height: 100%;
}

.gm-style {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.water {
  max-width: 400px;
}
